body{
  background-image: url(https://cdn.hipwallpaper.com/i/84/95/mx195U.jpg);
}
.container-fluid{
  width: 96%;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Times New Roman", Arial;
  font-size: 16px;

}
h1{
  background-color: #FFFB00;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
}

h3{
  text-align: center;
  background-color: #FFFFFF;
  max-width: 770px;

}

#imgSrc{
  font-style: italic;
  font-size: 13px;
  text-align: center;
}
.headerText2{
  text-align: center;
}

.fridayEvent{
  background-color: #FF8151;
  padding-left: 0px;
  color: #FFFFFF;

}

.saturdayEvent{
  background-color: #FE626F;
  padding-right: 0;
  color: #FFFFFF;

}
p{
  color: #000000;

}
.sundayEvent{
  background-color: #4174D5;

}

#eventAddress{
  color: #FFFFFF;

}
.eventDates{
  text-align: center;

}

#eventDateSunday{
  color: #FFFFFF;

}
#sundayText{
  color: #FFFFFF;
}
.yellowBox{

  background-color: #FFBC2B;
  padding-bottom: 88px;
}
#yellowBoxText{
  font-weight: bold;
  line-height: 30px;
}
#supID{
  font-size: 20px;
}
#yellowBoxText{
  font-style: italic;
}

.oxImage{
  background-color: #FFFFFF;
}
#oxGraphic{
  width: 100%;
  height: 90%;
}
.eventDates{
font-weight: bold;
font-size: 15px;
color: #000000;
}

#footerStyling{
  text-align: center;
  font-style: italic;
  font-size: 10px;
  background-color: #FFFFFF;
  max-width: 770px;
  margin: 0 auto;
  width: 96%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 20px;

}

@media (min-width: 768px) and (max-width: 1024px) {
  #oxGraphic{
    width: 40%;
    height: 90%;
  }
}
